* {
  box-sizing: border-box;
  background-color: #cbd3d8;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

nav {
  font-family: "PT Serif", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: #c0c0c0;
  padding: 25px;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top nav a {
  text-transform: uppercase;
}

h1,
.top-nav {
  text-align: center;
}

.top-nav,
.top-nav li {
  width: 100%;
}

h1 a,
.top-nav a {
  color: #000;
}

h1,
.top-nav,
.top-nav a {
  background-color: transparent;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Media Queries*/
@media (max-width: 320px) {
  header {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }
}
