* {
  font-family: "open-sans", sans-serif;
  text-align: center;
  color: rgb(57, 57, 57);
}

body {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.background img {
  width: 275px;
  padding-bottom: 30px;
}

.background p {
  padding-right: 10px;
}

ul {
  list-style: none;
  font-weight: 600;
  padding: 25px;
}

ul a {
  text-decoration: none;
}

li {
  padding: 20px;
  font-size: 18px;
}

a:hover {
  color: blue;
}

h2 {
  font-size: 25px;
  padding-bottom: 5px;
}

h3 {
  font-style: 300;
}

p a {
  text-decoration: none;
}

.background {
  background-color: rgba(112, 128, 144, 0.06);
}

.container {
  padding-top: 10px;
}

.contact-container {
  padding-top: 40px;
  background-color: rgba(112, 128, 144, 0.06);
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  border-top: solid rgb(89, 89, 89) 1px;
  margin-top: 25px;
}

.name {
  font-weight: bold;
}

.name-1 {
  font-weight: bold;
  font-size: 15px;
}

/* Media Queries */

@media (min-width: 768px) {
  body {
    width: 70%;
    margin: 0 auto;
  }

  nav ul,
  .background {
    display: flex;
  }

  nav ul {
    justify-content: center;
  }
  .background {
    flex-direction: row-reverse;
  }
  .container {
    display: grid;
  }
}
